<% layout('layouts/boilerplate') %>
    <div class="offset-3 col-6">
        <h1 class="text-center">Add Campground</h1>
        <form action="/campgrounds" method="post" class="validated-form" novalidate enctype="multipart/form-data">
            <!-- Title -->
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="campground[title]" id="title" required>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <!-- Location -->
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="campground[location]" id="location" required>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <!-- Image URL -->
            <div class="mb-3">
                <!-- <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" name="campground[image]" id="image" required>
                <div class="valid-feedback">
                    OK!
                </div> -->
                <input type="file" name="image">
            </div>
            <!-- Price -->
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="number" class="form-control" id="price" aria-label="Price"
                        aria-describedby="price-label" name="campground[price]" required>
                    <div class="valid-feedback">
                        OK!
                    </div>
                </div>
            </div>
            <!-- Description -->
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" name="campground[description]" id="description"
                    required></textarea>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <!-- Submit Button -->
            <div class="mb-3">
                <button class="btn btn-success">Submit</button>
            </div>
        </form>

        <footer>
            <a href="/campgrounds">← Back to Campgrounds</a>
        </footer>
    </div>
    </div>